


* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;    
}

body {
  font-size: 16px;
  padding: 0;    
  font-family: 'Open Sans', sans-serif;
      }

header, nav, main, footer
  { max-width: 600px; }

header {            }
header h1 { font-size: 40px; }
header img { width: 100%; }
header .subheading { font-size: 20px; }

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    background-color: #ccc;
    font-family: Verdana, sans-serif;
    }

nav ul {list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;}

nav ul li a {
    display: block;
    text-align: center;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3)
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2); color: #fff;
}

nav ul li a:hover {background-color: rgba(0,0,0,0.4;}

nav ul.hide {display: none;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

section.forecast {display: none;}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {}

footer {display: block;
             color: white;
             text-align: center;
             padding: 14px 16px;
             text-decoration: none;
             background-color: gray;}