


* { box-sizing: border-box;}  

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;    
}

body { background-color: azure;
  font-size: 16px;
  padding: 10px;    
  font-family: 'Open Sans', sans-serif;
      }

header { max-width: 60%;}

nav, main, footer { max-width: 100%; }

header {            }
header h1 { font-size: 40px; }
header img { width: 100%; }
header .subheading { font-size: 20px; }

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
}

nav {
    background-color: brown;
    font-family: Verdana, sans-serif;
    }

nav ul {list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: orangered;}

.hide { display: inline-flex;
        flex-direction: row;
}

nav ul li a {
    display: inline-flex ;
    text-align: center;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.3)
}

nav ul li.active a {background-color: rgba(0,0,0,0.2); color: #fff;
    
}

nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

nav ul.hide {display: none;}

a.current:link {
                background-color: darkgoldenrod;
                
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



main {
    padding: 0;
    min-height: 10rem;
        
    }


form label.top input {
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    
}

form label.top textarea {
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    
}






main h1 {background-color: gray;
            font-size: 50px;
}    
main h2 { background-color: lightgray}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure.hero {width: 100%; margin: 0;}
main figure.hero img {width: 100%;}
main figure.weathericon img {width: 100%;}
main figure.plane img {width: 100%;}

.photos {
    display: grid;
}

footer {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        background-color: brown;
}